<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <style>
        label {
            display: inline-block;
            width: 200px;
            text-align: left;
            margin:5px;
        }
        input[type=text], input[type=email],input[type=password],select{
            display: inline-block;
            width:200px;
        }
        input[type=radio]{
        margin-left:45px
        }
        input[type=checkbox]{
        margin-right:190px
        }
        button{
        padding:5px
        margin:10px
        }
    </style>
</head>
<body>
<div align="center">
    <div style="border-style:solid; width:500px">
        <h1>User Registration</h1>
        <form role="form" method="post" th:action="@{/register/save}" th:object="${userForm}">
            <label>Fullname:</label>
            <input type="text" th:field="*{name}"/>
            <br>
            <label>Email:</label>
            <input type="email" th:field="*{email}"/>
            <br>
            <label>Password:</label>
            <input type="password" th:field="*{password}"/>
            <br>
            <label>Gender:</label>
            <input type="radio" th:field="*{gender}" value="male">Male</input>
            <input type="radio" th:field="*{gender}" value="female">Female</input>
            <br>
            <label>Profession:</label>
            <select th:field="*{profession}">
                <option th:each="p : ${professionList}" th:value="${p}" th:text="${p}"></option>
            </select>
            <br>
            <label>Address:</label>
            <textarea rows="5" cols="30" th:field="*{address}"></textarea>
            <br>
            <button type="submit">Register</button>
        </form>
    </div>

</div>
</body>
</html>