<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Variable Expression</title>
</head>
<body>

<h1 >Variable Expression Demo:</h1>
<h2>User Details:</h2>
<div>
    <p>Name: <strong th:text="${user.name}"></strong></p>
    <p>Email: <strong th:text="${user.email}"></strong></p>
    <p></p>
    <p>Role: <strong th:text="${user.role}"></strong></p>
    <p></p>
    <p>Gender: <strong th:text="${user.gender}"></strong></p>
</div>
</body>
</html>